# Arch 32
for isofile in $isopath/arch32/archlinux32-*.iso; do
  if [ ! -e "$isofile" ]; then break; fi
  regexp \
    --set 1:isoname \
    --set 2:version \
    --set 3:arch \
    "^${isopath}/arch32/(archlinux32-([^-]+)-([^-]+)\.iso)\$" "${isofile}"
  menuentry "Arch Linux 32 ${version} ${arch}" "${isofile}" "${isoname}" --class arch {
    set isofile=$2
    set isoname=$3
    echo "Using ${isoname}..."
    loopback loop $isofile
    linux (loop)/arch/boot/i686/vmlinuz-linux img_dev=/dev/disk/by-uuid/${rootuuid} img_loop=${isofile}
    initrd (loop)/arch/boot/intel-ucode.img (loop)/arch/boot/amd-ucode.img (loop)/arch/boot/i686/initramfs-linux.img
  }
done
