# Android-x86
set isoname="android-x86-4.4-r2.iso"
set isofile="${isopath}/android-x86/${isoname}"
set isolink="http://sourceforge.net/projects/android-x86/files/Release%204.4/${isoname}"
if [ -e ${isofile} ]; then
  menuentry "Android-x86 4.4-r2" {
    ==isocopy==
    echo "Using ${isoname}..."
    loopback loop $isofile
	linux (loop)/kernel root=/dev/ram0 androidboot.hardware=android_x86 SRC= DATA=
	initrd (loop)/initrd.img
  }
fi
