# OpenELEC
set isoname="OpenELEC-Generic.x86_64-6.0.3.tar"
set isofile="${isopath}/openelec/${isoname}"
set isolink="http://releases.openelec.tv/${isoname}"
if [ -e ${isofile} ]; then
  menuentry "OpenELEC 6.0.3" {
    ==isocopy==
    echo "Using ${isoname}..."
    search --set=root --label GLIM
    linux /KERNEL boot=LABEL=GLIM disk=LABEL=GLIMDATA
  }
fi
set isoname="OpenELEC-Generic.x86_64-6.0.3.tar"
set isofile="${isopath}/openelec/${isoname}"
set isolink="http://releases.openelec.tv/${isoname}"
if [ -e ${isofile} ]; then
  menuentry "OpenELEC 6.0.3 debugging" {
    ==isocopy==
    echo "Using ${isoname}..."
    search --set=root --label GLIM
    linux /KERNEL boot=LABEL=GLIM disk=LABEL=GLIMDATA debugging
  }
fi
set isoname="OpenELEC-Generic.x86_64-6.95.3.tar"
set isofile="${isopath}/openelec/${isoname}"
set isolink="http://releases.openelec.tv/${isoname}"
if [ -e ${isofile} ]; then
  menuentry "OpenELEC 7.0 beta 3" {
    ==isocopy==
    echo "Using ${isoname}..."
    search --set=root --label GLIM
    linux /KERNEL boot=LABEL=GLIM disk=LABEL=GLIMDATA
  }
fi
set isoname="OpenELEC-Generic.x86_64-6.95.3.tar"
set isofile="${isopath}/openelec/${isoname}"
set isolink="http://releases.openelec.tv/${isoname}"
if [ -e ${isofile} ]; then
  menuentry "OpenELEC 7.0 beta 3 debugging" {
    ==isocopy==
    echo "Using ${isoname}..."
    search --set=root --label GLIM
    linux /KERNEL boot=LABEL=GLIM disk=LABEL=GLIMDATA debugging
  }
fi
